{% load static %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-70">
        <img src="{% static "lake.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
        <span class="badge bg-primary">#1</span>
          <h5 class="card-title">Data Lake</h5>
          <p class="card-text"> Mixed Data Sources like Weather, Material, Tools, Workforce and Activities.
            </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-70">
      <img src="{% static "deep.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
        <span class="badge bg-primary">#2</span>
          <h5 class="card-title">Deep Learning</h5>
          <p class="card-text">Advanced Time Series Techniques to Predict process chains in construction</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-70">
      <img src="{% static "bau.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
        <span class="badge bg-primary">#3</span>
          <h5 class="card-title">Lean Construction</h5>
          <p class="card-text">Lorem Ipsum</p>
        </div>
      </div>
    </div>
  </div>
  <br/>